# Homework 3: Working with Data in Python:

HI !!


In this homework, we're going to be learning how to use Python to perform some basic computational analysis of a text file and a small set of structured data. 

Some of what we'll be learning will build on what we learned to do with the command line interface: perform basic searches across text, identify patterns, count words and lines. Python also allows us to far more robust analysis: we can write scripts that allow us to re-use code, manipulate and view data.

## Part 1: Python Basics

As part of this homework, please read and complete the [Introduction to Python Basics tutorial](https://github.com/sceckert/IntroDHSpring2021/blob/main/_week4/introduction-to-python.ipynb) which will give you some key foundations to set us up for our exercise today. 

Complete Exercises 1-3 in the Introductio to Python Basics notebook.

**IMPORTANT NOTE**: To submit your homework, save your answers in your Jupyter Notebook.

- **If you are running Jupyter Labs through Anaconda Navigator**, simply click the save icon.
- **If you are running Jupyter Notebooks off of the cloud server Binder**, make sure to SAVE DOWNLOAD the notebook when you are done––the cloud server will not save your changes. 
    - To do this, go to the top menu in Jupyter Labs and click "File" > "Download as..."  and download as a Notebook (.ipynb).  This is what you'll be turning in as your homework.

## Part 2: Extracting demographic data from variables and lists

Complete Exercises 1-10 (and, if you have time, 11-14) that appear below in this notebook

The dataset we'll be working with in this set of exercises is comes from Anelise Shrout's [Bellevue Almshouse Dataset](https://gih.hosting.nyu.edu/almshouse/the-almshouse-records/). The Bellevue Almshouse Dataset includes information about Irish-born immigrants who were admitted to the almshouse in the 1840s.

The Bellevue Almshouse was part of New York City's public health system, a place where poor, sick, homeless, and otherwise marginalized people were sent — sometimes voluntarily and sometimes forcibly. Devastated by widespread famine in Ireland, many Irish people fled their homes for New York City in the 1840s, and many of them ended up in the Bellevue Almshouse. This dataset was transcribed from the almshouse's own admissions records.

Before going any further, make sure you've read Anelise Shrout's essay about this dataset, ["(Re)Humanizing Data: Digitally Navigating the Bellevue Almshouse."](https://crdh.rrchnm.org/essays/v01-10-(re)-humanizing-data/) We're going to be working with a small portion of it for this lesson––in later lessons, we'll be building on these skills as we learn how I to interact with a larger dataset.

Here's a peek at part of the dataset:

In [43]:
import pandas
pandas.read_csv("../_datasets/bellevue_almshouse_modified.csv").head(20)

,date_in,first_name,last_name,age,disease,profession,gender,children
0,1847-04-17,Mary,Gallagher,28.0,recent emigrant,married,w,Child Alana 10 days
1,1847-04-08,John,Sanin (?),19.0,recent emigrant,laborer,m,Catherine 2 mo
2,1847-04-17,Anthony,Clark,60.0,recent emigrant,laborer,m,Charles Riley afed 10 days
3,1847-04-08,Lawrence,Feeney,32.0,recent emigrant,laborer,m,Child
4,1847-04-13,Henry,Joyce,21.0,recent emigrant,NaN,m,Child 1 mo
5,1847-04-14,Bridget,Hart,20.0,recent emigrant,spinster,w,Child
6,1847-04-14,Mary,Green,40.0,recent emigrant,spinster,w,And child 2 months
7,1847-04-19,Daniel,Loftus,27.0,destitution,laborer,m,NaN
8,1847-04-10,James,Day,35.0,recent emigrant,laborer,m,NaN
9,1847-04-10,Margaret,Farrell,30.0,recent emigrant,widow,w,NaN
10,1847-04-10,Bridget,Day,30.0,recent emigrant,married,w,NaN
11,1847-04-10,Anthony,Day,0.5,recent emigrant,NaN,m,NaN
12,1847-04-07,James,Collins,22.0,recent emigrant,laborer,m,NaN
13,1847-04-07,Thomas,Collins,21.0,recent emigrant,laborer,m,NaN
14,1847-04-07,Pat,Whalen,25.0,recent emigrant,laborer,m,NaN
15,1847-04-17,Dan,Delany,10.0,typhus,NaN,m,NaN
16,1847-04-09,Catherine,O'Harra,23.0,recent emigrant,married,w,NaN
17,1847-04-09,Damiel,O'Harra,25.0,recent emigrant,laborer,m,NaN
18,1847-04-12,Margaret,Delaney,26.0,recent emigrant,married,w,NaN
19,1847-04-12,Michael,Delany,3.0,recent emigrant,NaN,m,NaN

As you complete the exercises below, reflect about the categories that these Irish immigrants were slotted into by the government. For example, the so-called "disease" that many of the people in this dataset exhibited — the reason they were admitted to the Almshouse in the first place — is "recent emigrant." What does this uncomfortable fact tell us about data more broadly? What should we make of the fact that Python, as a programming language, doesn't understand the meaning or historical context of this data?


## Complete Exercises 1-10, and 11-13

### Exercise 1

In [44]:
person1_name = 'Mary Gallagher'
person1_age = 28
person1_disease = 'recent emigrant'
person1_profession = 'married'
person1_gender = 'f'
person1_child_status = 'Child Alana 10 days'

Write an `if` statement that reports whether person1_age is less than 30 years old

In [1]:
#Your code here
    print('Person is less than 30 years old.')

IndentationError: unexpected indent (<ipython-input-1-fdd89bf94608>, line 2)

### Exercise 2
Write an `if` statement that reports whether `person1_profession` is "married"

In [2]:
#Your code here
    print('Person is married.')

IndentationError: unexpected indent (<ipython-input-2-d23b93291e24>, line 2)

### Exercise 3
Write an `if` statement that reports whether `person1_age` is less than 30 years old *and* `person1_profession` is "married"

In [3]:
#Your code here
    print('Person is less than 30 years old and married.')

IndentationError: unexpected indent (<ipython-input-3-5321c5a71120>, line 2)

### Exercise 4

In [4]:
person2_name = 'Anthony Clark'
person2_age = 60
person2_disease = 'recent emigrant'
person2_profession = 'laborer'
person2_gender = 'm'
person2_child_status = 'Charles Riley afed 10 days'

Combine an`if` statement with an `else` statement that will report whether `person2_age` is less than 30 years old or, if not, more than 30 years old

In [49]:
#Your code here
    print('Person is less than 30 years old.')
#Your code here
    print('Person is more than 30 years old.')

Person is more than 30 years old.

### Exercise 5

In [50]:
person3_name = 'Margaret Farrell'
person3_age = 30
person3_disease = 'recent emigrant'
person3_profession = 'widow'
person3_gender = 'w'
person3_child_status = ''

Add an `elif` statement that reports whether `person3_age` is exactly 30 years old

In [51]:
#Your code here
    print('Person is less than 30 years old.')
#Your code here
    print('Person is exactly 30 years old.')
#Your code here
    print('Person is more than 30 years old.')

Person is exactly 30 years old.

### Exercise 6

In [52]:
person1_child_status = 'Child Alana 10 days'
person3_child_status = ''

Write an `if` statement that will report whether `person1_child_status` includes children

In [53]:
#Your code here
    print('Person has children.')

Person has children.

### Exercise 7
Write a single `if` statement that will accurately report whether `person1_child_status` includes children and if `person3_child_status` includes children. Repeat it twice below, once for `person2` and `person3`


>*Hint:*
> Think about how you might use the `!=` operator!  
> And remember that there's a difference between quotation marks with no space `''` and quotation marks with a space`' '`. Python is picky!

In [54]:
#Your Code Here for person1 and person3
    print('Person has children.')

In [55]:
#Same Code Here, for person2 and person3
    print('Person has children.')

Person has children.

### Excerise 8

In [56]:
person1_profession = 'married'

Write a conditional that will report whether person1_profession is "married," "laborer," "widow," or "unknown profession." Then test your code by reassigning the variable as indicated below.

In [57]:
#Your code here
    print('Person is married.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Person is married.

In [58]:
person1_profession = 'laborer'

In [59]:
#Your code here
    print('Person is married.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Person is a laborer.

In [60]:
person1_profession = 'student'

In [61]:
#Your code here
    print('Person is married.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Person has unknown profession.

### Exercise 9

In [62]:
person4_name = 'John Sanin(?)'

Some of the Irish immigrants' names have question marks after them. Let's clean up some of the data and remove the question marks.

You can use the Python keyword `in` to test whether a string appears within another string. Print `person4_name` with the question mark and parentheses removed. 

> *Hint:* Remember the string method `.replace()`?

In [63]:
if "(?)" in person4_name:
    print(person4_name.replace("(?)", ""))
    #Your code here

John Sanin

### Exercise 10
In a few sentences, discuss the following dilemma. Python doesn't understand the historical context or human meaning behind data. 

1. What consequences might this incomprehension have on our society? 
2. How can we be sure to preserve the historical context and human meaning behind data when we are working with Python?
3. In the specific case of the Bellevue data, are there ways that our code code better reflect this context? What might we do to indicate the origin of the sorts of things we find in the "professions" field?

**Double-click this cell to type your thoughts here**

## Bonus exercises: (These exercises cover lists and `for` loops)

### Exercise 11

In [69]:
professions = ['married', 'laborer', 'widow', 'laborer', ]
child_status = ['Child Alana 10 days', 'Catherine 2 mos', '', 'Charles Riley afed 10 days' ]
gender = ['f', 'm', 'f', 'm']

Extract the second item from the list `professions`

> *Hint*: Remember that the Python index begins with 0!

In [65]:
##Your Code Here

'laborer'

### Exercise 12

Make a `for`` loop that considers each item in the professions list and prints "Person's profession is ___"

In [66]:
##Your Code Here
    ##Your Code Here

Person's profession is married
Person's profession is laborer
Person's profession is widow
Person's profession is laborer

### Exercise 13
Add an item to the list `gender` called "not known"

In [72]:
##Your Code Here

### Exercise 14
Make a `for` loop that considers each item in the `gender` list and prints "Person is male" if the person is male, "Person is female" if the person is female, and "Person's gender is not known" if unknown

In [73]:
##Your Code Here
     ##Your Code Here
        ## Your code here    
    ## Your code here
        ## your code here
    ##Your code

Person is female
Person is male
Person is female
Person is male
Person's gender is not known